
$( document ).ready( function() {

  <% if Rails.env.development? %>
  var dispatcher = new WebSocketRails( 'localhost:3000/websocket' );
  <% else %>
  var dispatcher = new WebSocketRails( 'www.skaroom.com/websocket' );
  <% end %>

  var saved_volume = 0.5;
  var now_playing_audio = $( "#now_playing_audio" );
  now_playing_audio.prop( 'volume', saved_volume );

  var me = null;

  dispatcher.bind( 'who_is_connected', function( who ) {
    for ( var i in who.rudies ) {
      display  = "<p style='display:inline-block;' class='label label-default' id='rudy-" + who.rudies[ i ].id + "'>";
      display +=    who.rudies[ i ].name + " (<span class='points'>" + who.rudies[ i ].points + "</span>)";
      display += "</p>&nbsp; ";
      if ( who.djs.length > 0 && $.grep( who.djs, function( n ) { return n.id === who.rudies[ i ].id; } ) != null ) {
        $( "#dj_list" ).append( display );
        if ( who.rudies[ i ].id == who.djs[ 0 ].id ) {
          var current_dj = $( "#rudy-" + who.djs[ 0 ].id );
          current_dj.removeClass( 'label-default' );
          current_dj.addClass( 'label-info' );
        }
      } else {
        $( "#rudy_list" ).append( display );
      }
    }
  } );

  dispatcher.bind( 'connected', function( who ) {
    display  = "<p style='display:inline-block;' class='label label-default' id='rudy-" + who.rudy.id + "'>";
    display +=    who.rudy.name + " (<span class='points'>" + who.rudy.points + "</span>)";
    display += "</p>&nbsp; ";
    $( "#rudy_list" ).append( display );
  } );

  dispatcher.bind( 'me', function( who ) {
    me = who.rudy;
  } );

  dispatcher.bind( 'disconnected', function( who ) {
    $( "#rudy-" + who.rudy.id ).remove();
  } );

  $( "#spin" ).click( function( event ) {
    event.preventDefault();
    var spin = $( "#spin" );
    if ( spin.hasClass( 'btn-info' ) ) {
      dispatcher.trigger( 'dj.remove', {} );
      spin.removeClass( 'btn-info ' );
      spin.addClass( 'btn-default ' );
    } else {
      dispatcher.trigger( 'dj.add', {} );
    }
  } );

  dispatcher.bind( 'dj_added', function( who ) {
    var rudy = $( "#rudy-" + who.rudy.id );
    rudy.detach();
    $('#dj_list').append( rudy );
    if ( who.rudy.id == me.id ) {
      var spin = $( "#spin" );
      spin.removeClass( 'btn-default ' );
      spin.addClass( 'btn-info ' );
    }
  } );

  dispatcher.bind( 'dj_not_added', function( who ) {
    alert( "Don't be a dolt. Add some songs to your queue first.")
  } );

  dispatcher.bind( 'dj_removed', function( who ) {
    var rudy = $( "#rudy-" + who.rudy.id );
    rudy.detach();
    $('#rudy_list').append( rudy );
  } );

  $( "#lame" ).click( function( event ) {
    event.preventDefault();
    var lame = $( "#lame" );
    lame.removeClass( 'btn-danger' );
    lame.removeClass( 'btn-default' );
    lame.addClass( 'btn-danger' );
    var meh = $( "#meh" );
    meh.removeClass( 'btn-warning' );
    meh.removeClass( 'btn-default' );
    meh.addClass( 'btn-default' );
    var awesome = $( "#awesome" );
    awesome.removeClass( 'btn-success' );
    awesome.removeClass( 'btn-default' );
    awesome.addClass( 'btn-default' );
    dispatcher.trigger( 'dj.lame', {} );
  } );

  $( "#meh" ).click( function( event ) {
    event.preventDefault();
    var awesome = $( "#awesome" );
    awesome.removeClass( 'btn-success' );
    awesome.removeClass( 'btn-default' );
    awesome.addClass( 'btn-default' );
    var meh = $( "#meh" );
    meh.removeClass( 'btn-warning' );
    meh.removeClass( 'btn-default' );
    meh.addClass( 'btn-warning' );
    var lame = $( "#lame" );
    lame.removeClass( 'btn-danger' );
    lame.removeClass( 'btn-default' );
    lame.addClass( 'btn-default' );
    dispatcher.trigger( 'dj.meh', {} );
  } );

  $( "#awesome" ).click( function( event ) {
    event.preventDefault();
    var awesome = $( "#awesome" );
    awesome.removeClass( 'btn-success' );
    awesome.removeClass( 'btn-default' );
    awesome.addClass( 'btn-success' );
    var meh = $( "#meh" );
    meh.removeClass( 'btn-warning' );
    meh.removeClass( 'btn-default' );
    meh.addClass( 'btn-default' );
    var lame = $( "#lame" );
    lame.removeClass( 'btn-danger' );
    lame.removeClass( 'btn-default' );
    lame.addClass( 'btn-default' );
    dispatcher.trigger( 'dj.awesome', {} );
  } );

  dispatcher.bind( 'dj_lamed', function( who ) {
    var rudy = $( "#rudy-" + who.rudy.id );
    rudy.removeClass( 'label-default' );
    rudy.removeClass( 'label-warning' );
    rudy.removeClass( 'label-info' );
    rudy.removeClass( 'label-danger' );
    rudy.removeClass( 'label-primary' );
    rudy.removeClass( 'label-success' );
    rudy.addClass( 'label-danger' );

    var points = $( '#dj_list .label-info .points' );
    points.text( current_dj.points + who.awesomes + who.mehs );
  } );

  dispatcher.bind( 'dj_mehed', function( who ) {
    var rudy = $( "#rudy-" + who.rudy.id );
    rudy.removeClass( 'label-default' );
    rudy.removeClass( 'label-warning' );
    rudy.removeClass( 'label-info' );
    rudy.removeClass( 'label-danger' );
    rudy.removeClass( 'label-primary' );
    rudy.removeClass( 'label-success' );
    rudy.addClass( 'label-warning' );

    var points = $( '#dj_list .label-info .points' );
    points.text( current_dj.points + who.awesomes + who.mehs );
  } );

  dispatcher.bind( 'dj_awesomed', function( who ) {
    var rudy = $( "#rudy-" + who.rudy.id );
    rudy.removeClass( 'label-default' );
    rudy.removeClass( 'label-warning' );
    rudy.removeClass( 'label-info' );
    rudy.removeClass( 'label-danger' );
    rudy.removeClass( 'label-primary' );
    rudy.removeClass( 'label-success' );
    rudy.addClass( 'label-success' );

    var points = $( '#dj_list .label-info .points' );
    points.text( current_dj.points + who.awesomes + who.mehs );
  } );

  dispatcher.bind( 'new_queue', function( what ) {
    $( "#queue_list" ).text( '' );

    for ( var i in what.queue ) {
      display  = "<div class='row'>";
      display += "  <div class='col-sm-10'>";
      display += "    <p id='queue_list_" + what.queue[ i ].song.id +  "'>";
      display += '      "' + what.queue[ i ].song.title + '"<br />';
      display +=        what.queue[ i ].song.artist
      display += "    </p>";
      display += "  </div>";
      display += "  <div class='col-sm-2 text-right'>";
      display += "    <div class='queue_tools'>";
      if ( i != 0 ) {
        display += "      <a href='/move_up_queue' class='btn btn-default btn-xs move_up_queue ' id='move_up_queue_" + what.queue[ i ].id + "'><span class='glyphicon glyphicon-chevron-up'></span></a>";
      } else {
        display += "      <a href='/move_up_queue' class='btn btn-default btn-xs move_up_queue ' id='move_up_queue_" + what.queue[ i ].id + "' disabled><span class='glyphicon glyphicon-chevron-up'></span></a>";
      }
      if ( i != what.queue.length - 1 ) {
        display += "      <a href='/move_down_queue' class='btn btn-default btn-xs move_down_queue' id='move_down_queue_" + what.queue[ i ].id + "'><span class='glyphicon glyphicon-chevron-down'></span></a>";
      } else {
        display += "      <a href='/move_down_queue' class='btn btn-default btn-xs move_down_queue' id='move_down_queue_" + what.queue[ i ].id + "' disabled><span class='glyphicon glyphicon-chevron-down'></span></a>";
      }
      display += "      <a href='/remove_from_queue' class='btn btn-success btn-xs remove_from_queue' id='library_list_remove_" + what.queue[ i ].id + "'><span class='glyphicon glyphicon-minus-sign'></span></a>";
      display += "    </div>";
      display += "  </div>";
      display += "</div>";
      $( "#queue_list" ).append( display );
    }
  } );

  dispatcher.bind( 'chat.new_toast', function( message ) {
    $("#chat_text").append( "<p><strong>" + message.rudy + "</strong>: " + message.toast + "</p>" );
    $("#chat_text").stop().animate({
      scrollTop: $('#chat_text')[0].scrollHeight
    }, 800);
  } );

  $( "#search_form" ).submit( function( event ) {
    event.preventDefault();
    var search_term = $( "#queue_q" ).val().trim();
    if ( search_term != '' ) {
      dispatcher.trigger( 'playlist.query', { search_term: search_term } );
    }
  } );

  dispatcher.bind( 'search_results', function( who ) {
    $( "#search_results" ).html( '' );
    for ( var i in who.songs ) {
      display  = "<p id='search_result_" + who.songs[ i ].id + "'>";
      display +=   '"' + who.songs[ i ].title + '"';
      display +=   '<br />';
      display +=   who.songs[ i ].artist;
      display += "</p>";
      $( "#search_results" ).append( display );
    }
  } );

  $( "#chat_form" ).submit( function( event ) {
    event.preventDefault();
    var text = $( "#chat_message" ).val().trim();
    if ( text != '' ) {
      dispatcher.trigger( 'chat.message', { message: text } );
    }
    $( "#chat_message" ).val( '' );
  } );

  dispatcher.bind( 'walt.welcome', function( who ) {
    $("#chat_text").append( "<p><strong>Walt</strong>: Hey, " + who.rudy.name + "!</p>" );
    $("#chat_text").stop().animate({
      scrollTop: $('#chat_text')[0].scrollHeight
    }, 800);
  } );

  $( "#chat_tab a" ).click( function( event ) {
    event.preventDefault();
    if ( ! $( "#chat_tab" ).hasClass( 'active' ) ) {
      $( "#chat_tab" ).addClass( 'active' );
      $( "#queue_tab" ).removeClass( 'active' );
      $( "#library_tab" ).removeClass( 'active' );
      $( "#chat_panel" ).show();
      $( "#queue_panel" ).hide();
      $( "#library_panel" ).hide();
    }
  } );

  $( "#queue_tab a" ).click( function( event ) {
    event.preventDefault();
    if ( ! $( "#queue_tab" ).hasClass( 'active' ) ) {
      $( "#queue_tab" ).addClass( 'active' );
      $( "#chat_tab" ).removeClass( 'active' );
      $( "#library_tab" ).removeClass( 'active' );
      $( "#queue_panel" ).show();
      $( "#chat_panel" ).hide();
      $( "#library_panel" ).hide();
    }
  } );

  $( "#library_tab a" ).click( function( event ) {
    event.preventDefault();
    if ( ! $( "#library_tab" ).hasClass( 'active' ) ) {
      $( "#library_tab" ).addClass( 'active' );
      $( "#chat_tab" ).removeClass( 'active' );
      $( "#queue_tab" ).removeClass( 'active' );
      $( "#library_panel" ).show();
      $( "#chat_panel" ).hide();
      $( "#queue_panel" ).hide();
    }
  } );

  $( document ).on( 'click', '.add_to_queue', function( event ) {
    event.preventDefault();
    var match = this.id.match( /_(\d+)$/ );
    var id = match[ 1 ];
    dispatcher.trigger( 'playlist.add', { id: id } );
    $( 'span', this ).removeClass( 'glyphicon-plus-sign' );
    $( 'span', this ).addClass( 'glyphicon-minus-sign' );
    $( this ).removeClass( 'add_to_queue' );
    $( this ).addClass( 'remove_from_queue' );
  } );

  dispatcher.bind( 'song_added_to_queue', function( which ) {
    var display = '';

    display  = "<div class='row'>";
    display += "  <div class='col-sm-10'>";
    display += "    <p id='queue_list_" + which.song.id +  "'>";
    display += '      "' + which.song.title + '"<br />';
    display +=        which.song.artist
    display += "    </p>";
    display += "  </div>";
    display += "  <div class='col-sm-2 text-right'>";
    display += "    <div class='queue_tools'>";
    if ( i != 0 ) {
      display += "      <a href='/move_up_queue' class='btn btn-default btn-xs move_up_queue' id='move_up_queue_" + which.queued_song_id + "'><span class='glyphicon glyphicon-chevron-up'></span></a>";
    } else {
      display += "      <a href='/move_up_queue' class='btn btn-default btn-xs move_up_queue' id='move_up_queue_" + which.queued_song_id + "' disabled><span class='glyphicon glyphicon-chevron-up'></span></a>";
    }
    if ( i != what.queue.length - 1 ) {
      display += "      <a href='/move_down_queue' class='btn btn-default btn-xs move_down_queue' id='move_down_queue_" + which.queued_song_id + "'><span class='glyphicon glyphicon-chevron-down'></span></a>";
    } else {
      display += "      <a href='/move_down_queue' class='btn btn-default btn-xs move_down_queue' id='move_down_queue_" + which.queued_song_id + "' disabled><span class='glyphicon glyphicon-chevron-down'></span></a>";
    }
    display += "      <a href='/remove_from_queue' class='btn btn-success btn-xs remove_from_queue' id='library_list_remove_" + which.queued_song_id + "'><span class='glyphicon glyphicon-minus-sign'></span></a>";
    display += "    </div>";
    display += "  </div>";
    display += "</div>";


    $( "#queue_list" ).append( display );
    $( '#library_list_add_' + which.song.id ).attr( "id", "library_list_add_" + which.queued_song_id );
  } );

  $( document ).on( 'click', '.remove_from_queue', function( event ) {
    event.preventDefault();
    var match = this.id.match( /_(\d+)$/ );
    var id = match[ 1 ];
    dispatcher.trigger( 'playlist.remove', { id: id } );

    var library_element = $( "#library_list_add_" + id );
    $( 'span', library_element ).removeClass( 'glyphicon-minus-sign' );
    $( 'span', library_element ).addClass( 'glyphicon-plus-sign' );
    $( library_element ).addClass( 'add_to_queue' );
    $( library_element ).removeClass( 'remove_from_queue' );
  } );

  dispatcher.bind( 'song_removed_from_queue', function( which ) {
    $( "#queue_list_" + which.song.id ).remove();
    $( '#library_list_add_' + which.queued_song_id ).attr( "id", "library_list_add_" + which.song.id );
  } );

  $( document ).on( 'click', '.move_up_queue', function( event ) {
    event.preventDefault();
    var match = this.id.match( /_(\d+)$/ );
    var id = match[ 1 ];
    dispatcher.trigger( 'playlist.move_up', { id: id } );
  } );

  $( document ).on( 'click', '.move_down_queue', function( event ) {
    event.preventDefault();
    var match = this.id.match( /_(\d+)$/ );
    var id = match[ 1 ];
    dispatcher.trigger( 'playlist.move_down', { id: id } );
  } );

  $( "#upload_music_link" ).click( function( event ) {
    event.preventDefault();
    $( '#upload_music' ).click();
  } );
  
  $( "#upload_music" ).fileupload( {
    dataType: 'json',
    done: function ( e, data ) {
      $( '#queue_uploading' ).hide();
      $( '#queue_upload_form' ).show();
      $.each( data.result.files, function ( index, file ) {
        mp3  = '<p id="' + file.id + '">';
        mp3 += '  "' + file.title + '"<br />';
        mp3 += '  ' + file.artist
        mp3 += '</p>';
        $( "#library_list" ).append( mp3 );
      } );
    },
    add: function ( e, data ) {
      $( '#queue_upload_form' ).hide();
      $( '#queue_uploading' ).show();
      data.submit();
    }
  } );

  $( "#search_music_link" ).click( function( event ) {
    event.preventDefault();
  } );

  var count_down;
  var current_dj;

  dispatcher.bind( 'music.new_song', function( what ) {

    current_dj = what.dj;

    if ( current_dj != null && me.id == current_dj.id ) {
      $( '#vote_buttons a' ).addClass( 'disabled' );
    } else {
      $( '#vote_buttons a' ).removeClass( 'disabled' );
    }

    if ( current_dj != null ) {
      var chat_text = '<div class="well well-sm">' + current_dj.name + ' started spinning "' + what.song.title + '" by ' + what.song.artist + '.</div>';
    } else {
      var chat_text = '<div class="well well-sm">Walt started spinning "' + what.song.title + '" by ' + what.song.artist + '.</div>';
    }

    $("#chat_text").append( chat_text );
    $("#chat_text").stop().animate({
      scrollTop: $('#chat_text')[0].scrollHeight
    }, 800);

    var rudy_list = '';
    rudy_list  = '#rudy_list .label-danger,';
    rudy_list += '#rudy_list .label-success,';
    rudy_list += '#rudy_list .label-warning,';
    rudy_list += '#rudy_list .label-info,';
    rudy_list += '#dj_list .label-danger,';
    rudy_list += '#dj_list .label-success,';
    rudy_list += '#dj_list .label-warning,';
    rudy_list += '#dj_list .label-info';

    $( rudy_list ).removeClass( 'label-danger'  ).
                   removeClass( 'label-success' ).
                   removeClass( 'label-warning' ).
                   removeClass( 'label-info'    ).
                   removeClass( 'label-default' ).
                   addClass(    'label-default' );

    $( "#awesome" ).removeClass( 'btn-success' ).
                    removeClass( 'btn-default' ).
                    addClass(    'btn-default' );
    $( "#meh" ).removeClass( 'btn-warning' ).
                    removeClass( 'btn-default' ).
                    addClass(    'btn-default' );
    $( "#lame"    ).removeClass( 'btn-danger'  ).
                    removeClass( 'btn-default' ).
                    addClass(    'btn-default' );

    if ( what.dj != null ) {
      $( "#rudy-" + what.dj.id ).addClass( 'label-info' );
      if ( what.dj.id == me.id ) {
        $( '#queue_list_' + what.song.id ).addClass( 'alert alert-info' );
      }
    }

    clearTimeout( count_down );
    var duration = what.song.duration - what.song.position;
    count_down = setTimeout( updateCountdown, 1000 );

    function updateCountdown() {
      duration--;
      if ( duration > 0 ) {
        var time = getTime( duration );
        $( "#now_playing_duration" ).text( time );
        count_down = setTimeout( updateCountdown, 1000 );
      //} else {
         //submitForm();
      }
    }
    var time = getTime( duration );
    mp3  = '<div class="pull-right" id="now_playing_duration">' + time + '</div>';
    mp3 += '<div id="now-' + what.song.id + '">';
    mp3 += '  "' + what.song.title + '" by ';
    mp3 += '  ' + what.song.artist;
    mp3 += '</div>';
    $( "#now_playing" ).html( mp3 );
    now_playing_audio = $( "#now_playing_audio" );
    $( '#now_playing_audio_source' ).attr( 'src', what.song.song );
    now_playing_audio.load();
    now_playing_audio.bind( 'canplay', function() {
      this.currentTime = what.song.position;
    } );
    now_playing_audio.trigger( "play" );
  } );

  function getTime( duration ) {
    var minutes = Math.floor( duration / 60 );
    var seconds = duration - minutes * 60;
    if ( seconds < 10 ) {
      seconds = "0" + seconds;
    }
    return minutes + ":" + seconds;
  }

  var saved_volume = 0.5;

  $( "#volume_off" ).click( function( event ) {
    event.preventDefault();
    var volume_off  = $( "#volume_off" );
    var volume_down = $( "#volume_down" );
    var volume_up   = $( "#volume_up" );
    if ( $( "#now_playing_audio" ).prop( 'volume' ) > 0.0 ) {
      volume_up.removeClass( 'disabled' );
      volume_down.removeClass( 'disabled' );
      volume_down.addClass( 'disabled' );
      $( "#now_playing_audio" ).prop( 'volume', 0.0 );
      volume_off.removeClass( 'btn-default' );
      volume_off.removeClass( 'btn-danger' );
      volume_off.addClass( 'btn-danger' );
    } else {
      volume_up.removeClass( 'disabled' );
      volume_down.removeClass( 'disabled' );
      if ( saved_volume == 1.0 ) {
        volume_up.addClass( 'disabled' );
      }
      var new_saved_volume = $( "#now_playing_audio" ).prop( 'volume' );
      $( "#now_playing_audio" ).prop( 'volume', saved_volume );
      saved_volume = new_saved_volume;
      volume_off.removeClass( 'btn-default' );
      volume_off.removeClass( 'btn-danger' );
      volume_off.addClass( 'btn-default' );
    }
  } );

  $( "#volume_up" ).click( function( event ) {
    event.preventDefault();
    $( "#volume_down" ).removeClass( 'disabled' );
    var volume_off = $( "#volume_off" );
    volume_off.removeClass( 'btn-default' );
    volume_off.removeClass( 'btn-danger' );
    volume_off.addClass( 'btn-default' );
    var volume_up = $( "#volume_up" );
    var now_playing_audio = $( "#now_playing_audio" );
    if ( now_playing_audio.prop( 'volume' ) < 1.0 ) {
      now_playing_audio.prop( 'volume', ( now_playing_audio.prop( 'volume' ) + 0.1 ).toFixed( 1 ) );
    
      if ( now_playing_audio.prop( 'volume' ) == 1.0 ) {
        volume_up.addClass( 'disabled' );
      }
    }
    saved_volume = $( "#now_playing_audio" ).prop( 'volume' );
  } );

  $( "#volume_down" ).click( function( event ) {
    event.preventDefault();
    $( "#volume_up" ).removeClass( 'disabled' );
    var volume_down = $( "#volume_down" );
    var now_playing_audio = $( "#now_playing_audio" );
    if ( now_playing_audio.prop( 'volume' ) > 0.0 ) {
      now_playing_audio.prop( 'volume', ( now_playing_audio.prop( 'volume' ) - 0.1 ).toFixed( 1 ) );
    
      saved_volume = $( "#now_playing_audio" ).prop( 'volume' );
      if ( now_playing_audio.prop( 'volume' ) == 0.0 ) {
        volume_down.addClass( 'disabled' );
        var volume_off = $( "#volume_off" );
        volume_off.removeClass( 'btn-default' );
        volume_off.removeClass( 'btn-danger' );
        volume_off.addClass( 'btn-danger' );
        saved_volume = 0.1;
      }
    }
  } );

} );