
$( document ).ready( function() {

  <% if Rails.env.development? %>
  var dispatcher = new WebSocketRails( 'localhost:3000/websocket' );
  <% else %>
  var dispatcher = new WebSocketRails( 'www.skaroom.com/websocket' );
  <% end %>

  dispatcher.bind( 'who_is_connected', function( who ) {
    for ( var i in who.rudies ) {
      display  = "<div class='label label-default' id='rudy-" + who.rudies[ i ].id + "'>";
      display +=    who.rudies[ i ].name;
      display += "</div>&nbsp;";
      $( "#rudy_list" ).append( display );
    }
  } );

  dispatcher.bind( 'connected', function( who ) {
      display  = "<div class='label label-default' id='rudy-" + who.rudy.id + "'>";
      display +=    who.rudy.name;
      display += "</div>&nbsp;";
    $( "#rudy_list" ).append( display );
  } );

  dispatcher.bind( 'disconnected', function( who ) {
    $( "#rudy-" + who.rudy.id ).remove();
  } );

  $( "#spin" ).click( function( event ) {
    event.preventDefault();
    var spin = $( "#spin" );
    if ( spin.hasClass( 'btn-info' ) ) {
      dispatcher.trigger( 'dj.remove', {} );
      spin.removeClass( 'btn-info' );
      spin.addClass( 'btn-default' );
    } else {
      dispatcher.trigger( 'dj.add', {} );
      spin.removeClass( 'btn-default' );
      spin.addClass( 'btn-info' );
    }
  } );

  dispatcher.bind( 'dj_added', function( who ) {
    var rudy = $( "#rudy-" + who.rudy.id );
    rudy.removeClass( 'label-default' );
    rudy.removeClass( 'label-info' );
    rudy.removeClass( 'label-danger' );
    rudy.removeClass( 'label-primary' );
    rudy.removeClass( 'label-success' );
    rudy.addClass( 'label-info' );
  } );

  dispatcher.bind( 'dj_removed', function( who ) {
    var rudy = $( "#rudy-" + who.rudy.id );
    rudy.removeClass( 'label-default' );
    rudy.removeClass( 'label-info' );
    rudy.removeClass( 'label-danger' );
    rudy.removeClass( 'label-primary' );
    rudy.removeClass( 'label-success' );
    rudy.addClass( 'label-default' );
  } );

  $( "#lame" ).click( function( event ) {
    event.preventDefault();
    var lame = $( "#lame" );
    lame.removeClass( 'btn-danger' );
    lame.removeClass( 'btn-default' );
    lame.addClass( 'btn-danger' );
    var awesome = $( "#awesome" );
    awesome.removeClass( 'btn-success' );
    awesome.removeClass( 'btn-default' );
    awesome.addClass( 'btn-default' );
    dispatcher.trigger( 'dj.lame', {} );
  } );

  $( "#awesome" ).click( function( event ) {
    event.preventDefault();
    var awesome = $( "#awesome" );
    awesome.removeClass( 'btn-success' );
    awesome.removeClass( 'btn-default' );
    awesome.addClass( 'btn-success' );
    var lame = $( "#lame" );
    lame.removeClass( 'btn-danger' );
    lame.removeClass( 'btn-default' );
    lame.addClass( 'btn-default' );
    dispatcher.trigger( 'dj.awesome', {} );
  } );

  dispatcher.bind( 'dj_lamed', function( who ) {
    var rudy = $( "#rudy-" + who.rudy.id );
    rudy.removeClass( 'label-default' );
    rudy.removeClass( 'label-info' );
    rudy.removeClass( 'label-danger' );
    rudy.removeClass( 'label-primary' );
    rudy.removeClass( 'label-success' );
    rudy.addClass( 'label-danger' );
  } );

  dispatcher.bind( 'dj_awesomed', function( who ) {
    var rudy = $( "#rudy-" + who.rudy.id );
    rudy.removeClass( 'label-default' );
    rudy.removeClass( 'label-info' );
    rudy.removeClass( 'label-danger' );
    rudy.removeClass( 'label-primary' );
    rudy.removeClass( 'label-success' );
    rudy.addClass( 'label-success' );
  } );

  dispatcher.bind( 'chat.new_toast', function( message ) {
    $("#chat_text").append( "<p><strong>" + message.rudy + "</strong>: " + message.toast + "</p>" );
    $("#chat_text").stop().animate({
      scrollTop: $('#chat_text')[0].scrollHeight
    }, 800);
  } );

  $( "#chat_form" ).submit( function( event ) {
    event.preventDefault();
    var text = $( "#chat_message" ).val();
    dispatcher.trigger( 'chat.message', { message: text } );
    $( "#chat_message" ).val( '' );
  } );

  dispatcher.bind( 'walt.welcome', function( who ) {
    $("#chat_text").append( "<p><strong>Walt</strong>: Hey, " + who.rudy.name + "!</p>" );
    $("#chat_text").stop().animate({
      scrollTop: $('#chat_text')[0].scrollHeight
    }, 800);
  } );

  $( "#chat_tab a" ).click( function( event ) {
    event.preventDefault();
    if ( ! $( "#chat_tab" ).hasClass( 'active' ) ) {
      $( "#chat_tab" ).addClass( 'active' );
      $( "#queue_tab" ).removeClass( 'active' );
      $( "#chat_panel" ).show();
      $( "#queue_panel" ).hide();
    }
  } );

  $( "#queue_tab a" ).click( function( event ) {
    event.preventDefault();
    if ( ! $( "#queue_tab" ).hasClass( 'active' ) ) {
      $( "#queue_tab" ).addClass( 'active' );
      $( "#chat_tab" ).removeClass( 'active' );
      $( "#queue_panel" ).show();
      $( "#chat_panel" ).hide();
    }
  } );

  $( "#upload_music_link" ).click( function( event ) {
    event.preventDefault();
    $( '#upload_music' ).click();
  } );
  
  $( "#upload_music" ).fileupload( {
    dataType: 'json',
    done: function ( e, data ) {
      $( '#queue_uploading' ).hide();
      $( '#queue_upload_form' ).show();
      $.each( data.result.files, function ( index, file ) {
        mp3  = '<p id="' + file.id + '">';
        mp3 += '  "' + file.title + '"<br />';
        mp3 += '  ' + file.artist
        mp3 += '</p>';
        $( "#queue_list" ).append( mp3 );
      } );
    },
    add: function ( e, data ) {
      $( '#queue_upload_form' ).hide();
      $( '#queue_uploading' ).show();
      data.submit();
    }
  } );

  $( "#search_music_link" ).click( function( event ) {
    event.preventDefault();
  } );

  var count_down;

  dispatcher.bind( 'music.new_song', function( what ) {

    $("#chat_text").append( '<div class="well well-sm">"' + what.song.title + '"<br />' + what.song.artist + '</div>' );
    $("#chat_text").stop().animate({
      scrollTop: $('#chat_text')[0].scrollHeight
    }, 800);

    $( '#rudy_list .btn-success, #rudy_list .btn-danger' ).removeClass( 'btn-success' ).removeClass( 'btn-danger' );

    clearTimeout( count_down );
    var duration = what.song.duration - what.song.position;
    count_down = setTimeout( updateCountdown, 1000 );

    function updateCountdown() {
      duration--;
      if ( duration > 0 ) {
        var time = getTime( duration );
        $( "#now_playing_duration" ).text( time );
        setTimeout( updateCountdown, 1000 );
      //} else {
         //submitForm();
      }
    }
    var time = getTime( duration );
    mp3  = '<div class="pull-right" id="now_playing_duration">' + time + '</div>';
    mp3 += '<div id="now-' + what.song.id + '">';
    mp3 += '  "' + what.song.title + '" by ';
    mp3 += '  ' + what.song.artist
    mp3 += '</div>';
    $( "#now_playing" ).html( mp3 );
    now_playing_audio = $( "#now_playing_audio" );
    $( '#now_playing_audio_source' ).attr( 'src', what.song.song );
    now_playing_audio.load();
    now_playing_audio.bind( 'canplay', function() {
      this.currentTime = what.song.position;
    } );
    now_playing_audio.trigger( "play" );
  } );

  function getTime( duration ) {
    var minutes = Math.floor( duration / 60 );
    var seconds = duration - minutes * 60;
    if ( seconds < 10 ) {
      seconds = "0" + seconds
    }
    return minutes + ":" + seconds
  }

  $( "#volume" ).click( function( event ) {
    event.preventDefault();
    var spin = $( "#volume" );
    var spin_icon = $( 'span', spin );
    if ( spin_icon.hasClass( 'glyphicon-volume-up' ) ) {
      $( "#now_playing_audio" ).prop( 'volume', 0.0 );
      spin_icon.removeClass( 'glyphicon-volume-up' );
      spin_icon.addClass( 'glyphicon-volume-off' );
    } else {
      $( "#now_playing_audio" ).prop( 'volume', 1.0 );
      spin_icon.removeClass( 'glyphicon-volume-off' );
      spin_icon.addClass( 'glyphicon-volume-up' );
    }
  } );

} );