.jumbotron {
  height: 363px;
  background-image: image-url( 'walt-bg.png' );
  background-repeat: no-repeat;
  background-position: center;
  background-color: #060606;
  h1 {
    color: #000000;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 140px;
  }
}